h1{
font-family: "Arial", Helvetica, sans-serif;
font-size: 50px;
letter-spacing: 0px;
word-spacing: 0px;
color: #A0A0A0;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: small-caps;
text-transform: none;
}

h2{
  font-family: "Arial Black", Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #FFCC00;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: none;
    text-transform: none;

}


hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

.Contact_Text{
font-family: "Arial", Helvetica, sans-serif;
font-size: 20px;
letter-spacing: 0px;
word-spacing: 0px;
font-weight: 400;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: none;


}


.img-circle{
  border-radius: 50%;
  height: 10em;
  width: 10em;
  opacity: 1.0;
}

.img-circled{
  border-radius: 90%;
  height: 10em;
  width: 10em;
  opacity: 1.0;
}


.img-circle:hover{
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.img-circled:hover{
  opacity: 0.3;
  filter: alpha(opacity=30);
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: grey;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #FFCC00;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #FFCCOO;
  padding: 20px;
}
